* 
    font-family: Poppins, sans-serif

.menu
    display: flex
    justify-content: space-between
    align-items: center
    min-height: 100px
    &-wrapper-left
        display: flex
    &-wrapper-right
        display: flex
.menu_item
    margin-right: 60px
    color: #21383E
    font-size: 13px
    font-weight: 400
    line-height: 13px
    letter-spacing: 0.5px
.menu_account_up
    color: #553C16
    font-size: 13px
    font-weight: 600
    line-height: 13px
    letter-spacing: 0.5px
.menu_account_in
    display: inline-block
    padding: 43px 61px
    border-radius: 0 0 40px 40px
    margin-left: 60px
    width: 160px
    height: 100px
    background-color: #F5F2EC
    color: #553C16
    font-size: 13px
    font-weight: 600
    line-height: 13px
    letter-spacing: 0.5px
.promo
    min-height: 980px
    padding-top: 80px
    &_block_1
        display: flex
        justify-content: space-between
    &_title
        max-width: 498px
        color: #121212
        font-size: 60px
        font-weight: 400
        line-height: 72px
        letter-spacing: -0.5px
    &_text
        margin-top: 34px
        max-width: 405px
        color: #21383E
        font-size: 14px
        font-weight: 400
        line-height: 26px
        letter-spacing: 0.5px
    &_block_2
        display: flex
        justify-content: space-between
    &_with-btn
        position: relative
        display: flex
        justify-content: space-between
        align-items: center
        padding: 0 28px 0 40px
        width: 682px
        height: 123px
        box-shadow: 0px 30px 80px rgba(47, 65, 88, 0.20)
        background-color: rgba(255, 255, 255, 1)
        border-radius: 10px
        z-index: 2
        &_register
            color: #7D8186
            font-size: 13px
            font-weight: 400
            line-height: 21px
            letter-spacing: 0.3px
        &_email
            margin-top: 10px
            color: #000
            font-size: 23px
            font-weight: 500
            line-height: 30px
            letter-spacing: 0.23px
    &_btn
        width: 190px
        height: 67px
        background-color: rgba(114, 91, 161, 1)
        border-radius: 10px
        border: none
        color: #FFF
        font-size: 14px
        font-weight: 600
        letter-spacing: 0.323px
    &_img
        position: relative
        display: flex
        align-items: flex-start
        margin-top: -50px
        z-index: 1
        &_dots
            margin: 0 48px 0 -50px
.title
    color: #121212
    font-size: 50px
    font-weight: 400
    line-height: 62px
    letter-spacing: -0.5px
.line
    margin: 50px 0 50px 0
    width: 121px
    height: 1px
    background-color: #DEDEDE
.text
    max-width: 440px
    color: #404852
    font-size: 14px
    font-weight: 400
    line-height: 26px
    letter-spacing: 0.346px
.profile
    margin-top: 30px
    display: flex
    &_img
        margin-right: 16px
    &_info
        display: flex
        flex-direction: column
        &_name
            color: #273240
            font-size: 13px
            font-weight: 500
            letter-spacing: 0.3px
        &_job
            color: #2C3A4B
            font-size: 12px
            font-weight: 400
            letter-spacing: 0.5px
            opacity: 0.5
         
.chat
    min-height: 866px
    &_block
        display: flex
        justify-content: space-between
    &_wrapper_left
        display: flex
    &_wrapper_right
        display: flex
        align-items: flex-start
    &_header
        max-width: 440px
        margin-top: 160px
    &_message-karen
        position: relative
        margin: 80px -50px 0 0
        padding: 14px 30px
        width: 234px
        height: 94px
        background-color: #7D6353
        border-radius: 30px 30px 0 30px
        color: #FFF
        font-size: 14px
        font-weight: 500
        line-height: 22px
        letter-spacing: 0.3px
    &_text_w_profile
        margin-top: 13px
    &_message
        padding-top: 77px
        position: relative
        display: flex
        flex-direction: column
        &_1
            padding: 14px 30px
            width: 156px
            height: 50px
            background-color: #726985
            border-radius: 30px
            color: #FFF
            font-size: 14px
            font-weight: 500
            line-height: 22px
            letter-spacing: 0.3px
        &_2
            margin-top: 12px
            padding: 14px 30px
            width: 319px
            height: 50px
            border-radius: 30px 30px 30px 0
            background-color: #726985
            color: #FFF
            font-size: 14px
            font-weight: 500
            line-height: 22px
            letter-spacing: 0.3px
    &_samantha
        margin: -14px -50px 0 0

.video
    display: flex
    justify-content: space-between
    min-height: 650px
    padding-top: 52px
    &_wrapper_left
        display: flex
        flex-direction: column-reverse
    &_wrapper_right
        display: flex
        flex-direction: column
    &_woman
        display: flex
    &_woman_small
        position: relative
        width: 227px
        height: 227px
        border-radius: 100%
        border: 0.5px solid #3C636A
        padding: 47px 45px 38px 43px
        margin-left: -20%
    &_call
        position: relative
        display: flex
        align-items: center
        padding: 8px
        margin: -20% 0 0 -15% 
        width: 232px
        height: 77px
        box-shadow: 0px 30px 80px rgba(47, 65, 88, 0.20)
        background-color: rgba(255, 255, 255, 1)
        border-radius: 40px
        &_icon
            width: 61px
            height: 61px
            border-radius: 100%
            background-color: #43B671
            padding: 18px 18px
        &_info
            display: flex
            flex-direction: column
            margin-left: 16px
        &_start
            color: #273240
            font-size: 13px
            font-weight: 500
            letter-spacing: 0.3px
        &_name
            color: #2C3A4B
            font-size: 12px
            font-weight: 400
            letter-spacing: 0.5px
            opacity: 0.5
    &_header
        margin-top: 164px
.last
    display: flex
    min-height: 1000px
    padding-top: 150px
    justify-content: space-between
    &_wrapper_left
        display: flex
        flex-direction: column
    &_wrapper_right
        display: flex
        flex-direction: column
    &_title
        color: #121212
        font-size: 60px
        font-weight: 400
        line-height: 72px
        letter-spacing: -0.5px
        max-width: 343px
        margin-bottom: 21px
    &_block
        display: flex
        justify-content: space-between
        width: 600px
        height: 154px
        &_info
            display: flex
        &_number
            margin-top: 14px
            color: #000
            font-size: 25px
            font-weight: 600
            line-height: 35px
            opacity: 0.34
        &_text
            display: flex
            flex-direction: column
            margin-left: 79px
            &_name
                color: #000
                font-size: 40px
                font-weight: 400
                letter-spacing: 0.833px
            &_descr
                color: #000
                font-size: 14px
                font-weight: 400
                letter-spacing: 0.5px
                opacity: 0.5